<%- include('../fragments/header.ejs') %>
<main class="galMain">
    <h2>Galeria</h2>

    <section class="gallery">
        <div class="zdj">
            <p>Jagerbomb</p>
            <div class="baner1">15pln</div>
            <div class="baner2">Jegerbomb</div>
        </div>
        <div class="zdj">
            <p>Sex on the beach</p>
            <div class="baner1">16pln</div>
            <div class="baner2">SOTB</div>
        </div>
        <div class="zdj">
            <p>mojito</p>
            <div class="baner1">22pln</div>
            <div class="baner2">Mojito</div>
        </div>
        <div class="zdj">
            <p>Cosmopolitan</p>
            <div class="baner1">20pln</div>
            <div class="baner2">Cosmopolitan</div>
        </div>

    </section>

</main>
<%- include('../fragments/footer.ejs') %>