<%- include('../fragments/header.ejs') %>
<main>
    <h2>Szczegoly Skladnika</h2>
    <form class="form" action="">

        <label for=" Desc">Id: </label>
        <input type="number" name="id" value="1" id="ID" disabled />
        <div></div>

        <label for=" Name">Nazwa: </label>
        <input type="text" name="Name" value="Jagermeister" id="Name" disabled />
        <div></div>

        <label for=" Cost">Cena(pln/100g): </label>
        <input type="text" name="Cost" value="15pln" id="Cost" disabled />
        <div></div>

        <label for=" Serve">Opis: </label>
        <textarea name="" id="" cols="30" rows="10" disabled>Likier ziołowy</textarea>
        <div></div>

        <p>
            <a class="edit" href="drink_form.html">Edytuj</a>
        </p>


    </form>
    <h2>Szczegoly proporcji</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Skladnik</th>
                <th>gramatura</th>
                <th>Cena Gramatury</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jagermeister</td>
                <td>40ml</td>
                <td>10pln</td>
            </tr>
            <tr>
                <td>Red Bull</td>
                <td>300ml</td>
                <td>5pln</td>
            </tr>
        </tbody>
    </table>

    <a class="details" href="ingreadient.html">Powrot</a>
</main>
<%- include('../fragments/footer.ejs') %>