<%- include('../fragments/header.ejs') %>
<main>

    <h2>Lista proporcji</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Nazwa drinka</th>
                <th>Skladnik</th>
                <th>gramatura</th>
                <th>Cena Gramatury</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jagerbomb</td>
                <td>Jagermeister</td>
                <td>40ml</td>
                <td>10pln</td>
            </tr>
            <tr>
                <td>Jagerbomb</td>
                <td>Red Bull</td>
                <td>300ml</td>
                <td>5pln</td>
            </tr>
        </tbody>
    </table>

    <a class="details" href="proportion.html">Powrot</a>
</main>
<%- include('../fragments/footer.ejs') %>